/* Normalizes margin,padding */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td { margin:0;padding:0}
/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size:100%}
/* Removes list-style from lists */
ol,ul { list-style:none }
/* Normalizes font-size and font-weight to normal */
address,caption,cite,code,dfn,em,strong,th,var { font-size:normal; font-weight:normal }
/* Removes list-style from lists */
table { border-collapse:collapse; border-spacing:0 }
/* Removes border from fieldset and img */
fieldset,img { border:0 }
/* Left-aligns text in caption and th */
caption,th { text-align:left }
/* Removes quotation marks from q */
q:before,q:after { content:”}
html,body,.page {
    height: 100%;
    width: 100%;
    min-width: 1280px;
    background-color: #000733;
}
html,body,.page-other {
    height: 100%;
    width: 100%;
    background-color: #000733;
}
[v-cloak] {
    display: none;
  }
  .el-carousel__arrow {
      font-size: 50px!important;
      height: 70px!important;
      width: 70px!important;
      line-height: 70px!important;
      background-color: rgba(0, 0, 0, 0.4)!important;
  }
  .el-carousel__arrow--right {
      font-size: 50px!important;
  }
  @media (min-width: 1024px){
    body{font-size: 18px}
    .wrapper {
        transform: scale(0.5);
    }
    } /*>=1024的设备*/
    
    @media (min-width: 1100px) {
    body{font-size: 20px}
    .wrapper {
        transform: scale(0.5);
    }
    } /*>=1100的设备*/
    @media (min-width: 1280px) {
    body{font-size: 22px;}
    .wrapper {
        transform: scale(0.5);
    }
    } /*>=1280的设备*/
    
    @media (min-width: 1366px) {
    
    body{font-size: 24px;}
    .wrapper {
        transform: scale(0.6);
    }
    }  
    
    @media (min-width: 1440px) {
    body{font-size: 25px !important;}
    .wrapper {
        transform: scale(0.7);
    }
    } 
    
    @media (min-width: 1680px) {
    body{font-size: 28px;}
    .wrapper {
        transform: scale(0.8);
    }
    } 
    @media (min-width: 1920px) {
    body{font-size: 33px;}
    .wrapper {
        transform: scale(1.0);
    }
    } 